<h1>Курс криптовалют</h1>
<div class="cryptoex">
  <div class="ui-table">
  <table class="table table-striped">
    <thead class="ui-table-thead">
    <tr>
      <th>
        <div class="form-el">
          <input type="text" (input)="search()" pInputText [(ngModel)]="searchValue" placeholder="Поиск по названию"/>
        </div>
      </th>
      <th>Цена в $</th>
      <th>За сутки</th>
    </tr>
    </thead>
    <tbody class="ui-table-tbody">
      <tr *ngFor="let currency of filteredCryptoCurrencies">
        <td class="cryptoex__title-td">
          <span class="cryptoex__logo cryptoex__logo_id_{{currency.id}}"></span>
          <span class="cryptoex__title">{{currency.name}}</span>
        </td>
        <td class="cryptoex__rate">
          <span>{{currency.price_usd}}</span>
        </td>
        <td class="cryptoex__diff" [ngClass]="{
          'cryptoex__diff': true,
          'cryptoex__diff_minus': currency.percent_change_24h < 0
        }">
          <span>{{currency.percent_change_24h}}%</span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>