<div>
  <h1>Курс валют в банках</h1>
  <div class="bankex-switch">
    <ul>
      <li *ngFor="let el of bankexSwitchEls" (click)="changeCurrency(el.id)" [ngClass]="{active: bankexShowCssClass[el.id]}">
        {{el.title}} ({{el.id | uppercase}})
      </li>
    </ul>
  </div>
  <div class="bankex-time">Время обновления {{date | date:"dd/MM/yyyy - HH:mm"}}</div>
  <div class="bankex">
    <div class="ui-table">
    <table [ngClass]="{'table': true,
                      'bankex__sh-usd': bankexShowCssClass.usd,
                      'bankex__sh-eur': bankexShowCssClass.eur,
                      'bankex__sh-rub': bankexShowCssClass.rub}"
           #bankexTable>
      <thead class="ui-table-thead">
        <tr>
          <th>
            <div class="form-el">
              <input type="text" (input)="search()" pInputText [(ngModel)]="searchValue" placeholder="Поиск по названию"/>
            </div>
          </th>
          <th>Покупка</th>
          <th>Продажа</th>
        </tr>
      </thead>
      <tbody class="ui-table-tbody">
        <ng-container *ngFor="let bank of filteredBanks">
          <tr *ngIf="bank.orgType == 1">
            <td class="bankex__title-td">
              <span class="bankex__logo bankex__logo_id_{{bank.oldId}}"></span>
              <span class="bankex__title">{{bank.title}}</span>
            </td>
            <td class="bankex__bid-td">
              <div *ngIf="bank.currencies.USD"
                   [ngClass]="{
                      'bankex__rate': true,
                      'bankex__usd': true,
                      'bankex__maxbid': bank.id == askBid.usd.maxBid.id,
                      'bankex__minbid': bank.id == askBid.usd.minBid.id
                      }"
              >
                {{bank.currencies.USD.bid | number: '1.2-3'}}
              </div>
              <div *ngIf="bank.currencies.EUR"
                   [ngClass]="{
                      'bankex__rate': true,
                      'bankex__eur': true,
                      'bankex__maxbid': bank.id == askBid.eur.maxBid.id,
                      'bankex__minbid': bank.id == askBid.eur.minBid.id
                      }"
              >
                {{bank.currencies.EUR.bid | number: '1.2-3'}}
              </div>
              <div *ngIf="bank.currencies.RUB"
                   [ngClass]="{
                      'bankex__rate': true,
                      'bankex__rub': true,
                      'bankex__maxbid': bank.id == askBid.rub.maxBid.id,
                      'bankex__minbid': bank.id == askBid.rub.minBid.id
                      }"
              >
                {{bank.currencies.RUB.bid | number: '1.2-3'}}
              </div>
            </td>
            <td class="bankex__ask-td">
              <div *ngIf="bank.currencies.USD"
                   [ngClass]="{
                      'bankex__rate': true,
                      'bankex__usd': true,
                      'bankex__maxask': bank.id == askBid.usd.maxAsk.id,
                      'bankex__minask': bank.id == askBid.usd.minAsk.id
                      }"
              >
                {{bank.currencies.USD.ask | number: '1.2-3'}}
              </div>
              <div *ngIf="bank.currencies.EUR"
                   [ngClass]="{
                      'bankex__rate': true,
                      'bankex__eur': true,
                      'bankex__maxask': bank.id == askBid.eur.maxAsk.id,
                      'bankex__minask': bank.id == askBid.eur.minAsk.id
                      }"
              >
                {{bank.currencies.EUR.ask | number: '1.2-3'}}
              </div>
              <div *ngIf="bank.currencies.RUB"
                   [ngClass]="{
                      'bankex__rate': true,
                      'bankex__rub': true,
                      'bankex__maxask': bank.id == askBid.rub.maxAsk.id,
                      'bankex__minask': bank.id == askBid.rub.minAsk.id
                      }"
              >
                {{bank.currencies.RUB.ask | number: '1.2-3'}}
              </div>
            </td>
          </tr>
          </ng-container>
      </tbody>
    </table>
    </div>
  </div>
</div>
