.bankex__rate{
  display: none;
}
.bankex__sh-usd .bankex__usd,
.bankex__sh-eur .bankex__eur,
.bankex__sh-rub .bankex__rub{
  display: block;
}
.bankex-switch{
  ul{
    display: flex;
    margin-bottom: 15px;
  }
  li{
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    &.active{
      border-bottom: 3px solid $scooter;
    }
  }
}
.bankex-time{
  margin-bottom: 15px;
}
.bankex__maxask,
.bankex__minbid{
  color: $red;
}
.bankex__minask,
.bankex__maxbid{
  color: $green;
}