$white: #fff;
$black: #000;
$scooter: #368896;
$green: #21c500;
$red: #ff0000;

$bg-base: $white;
$base: $black;
$link: $black;

$f-size: 16px;

$contentWidth: 1230px;

$f-stack: 'Roboto', sans-serif;

$bold: 700;
$regular: 400;