<h1>Конвертер валют</h1>
<p>Источник данных НБУ</p>
<div class="convert p-grid">
  <div class="convert__l-bl p-md-6">
    <h4>Отдаем</h4>
    <div class="form-group">
      <p-dropdown [options]="nbuCurrencies"
                  [(ngModel)]="convForm.from"
                  optionLabel="txt"
                  [filter]="true"
                  [style]="{'width':'100%'}"
                  (onChange)="onChange()"
                  dataKey="rate"></p-dropdown>
    </div>
    <div class="form-group">
      <input min="0" (input)="onChange()" type="number" pInputText [(ngModel)]="convForm.fromValue"/>
    </div>

  </div>
  <div class="convert__r-bl p-md-6">
    <h4>Получаем</h4>
    <div class="form-group">
      <p-dropdown [options]="nbuCurrencies"
                  [(ngModel)]="convForm.to"
                  optionLabel="txt"
                  [filter]="true"
                  [style]="{'width':'100%'}"
                  (onChange)="onChange()"
                  dataKey="rate"></p-dropdown>
      </div>
    <div class="form-group">
      <input min="0" (input)="onChange('from')" type="number" pInputText [(ngModel)]="convForm.toValue"/>
    </div>
  </div>
</div>
