<h1>Финансовые новости</h1>
<div class="blog-list">
  <div *ngFor="let item of itemsBlog" class="blog-list__item">
    <div class="blog-list__img">
      <div class="blog-list__img-wr">
        <a [routerLink]="['/news', item.id]"><img src="{{item.img}}" alt=""></a>
      </div>
    </div>
    <div class="blog-list__txt">
      <h2 class="blog-list__title"><a [routerLink]="['/news', item.id]">{{item.title}}</a></h2>
      <div class="blog-list__date">{{item.date | date:"dd/MM/yyyy"}}</div>
      <div class="blog-list__desc">{{item.description}}</div>
    </div>
  </div>
</div>
