<footer class="footer">
  <div class="wrap">
    <div class="container-fluid">
      <div class="footer__inner">
        <div class="footer__copyright">
          &copy; copyright {{date | date: 'yyyy' }}
        </div>
        <div class="footer__statistic">
          <div [innerHtml]="addStatictic()"></div>
        </div>
      </div>
    </div>
  </div>
</footer>