<form #myForm="ngForm" (ngSubmit)="submit()">


    <p-tabView>
        <p-tabPanel header="Header 1">
            <div>
                <label>Имя</label>
                <input type="text" pInputText />
            </div>
            <div>
                <label>Название</label>
                <input type="text" pInputText />
            </div>
            <div>
                <label>Тип</label>
                <input type="text" pInputText />
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header 2">
            <div>
                <label>Город</label>
                <input type="text" pInputText />
            </div>
            <div>
                <label>Улица</label>
                <input type="text" pInputText />
            </div>
            <div>
                <label>Дом</label>
                <input type="text" pInputText />
            </div>
        </p-tabPanel>
    </p-tabView>

    <button pButton class="button" type="submit" label="Submit"></button>

</form>
