<h1>Курс НБУ</h1>
<div class="cryptoex">
  <div class="ui-table">
    <table>
      <thead class="ui-table-thead">
      <tr>
        <th colspan="2">
          <div class="form-el">
            <input type="text" (input)="search()" pInputText [(ngModel)]="searchValue" placeholder="Поиск по названию"/>
          </div>
        </th>
        <th>Курс</th>
      </tr>
      </thead>
      <tbody class="ui-table-tbody">
      <tr *ngFor="let currency of filteredNbuCurrencies">
        <td class="nbu_id">{{currency.cc}}</td>
        <td class="cryptoex__title-td">
          <span class="nbu__title">{{currency.txt}}</span>
        </td>
        <td class="cryptoex__rate">
          <span>{{currency.rate | number: '1.2-7'}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
